body{
    background-color: lightblue;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

h1{
    font-size: 50px;
}

a{
    display: block;
    font-size: 30px;
}

p{
    position: absolute;
    font-size: 20px;
    bottom: 0;
}